@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact textsStyle">
    <header>
        <h3>Telefone</h3>
    </header>
    <p>
        <span class="label">Celular:</span>
        <span>(035) 8405-9009</span>
    </p>
</section>

<section class="contact textsStyle">
    <header>
        <h3>Internet</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:wellington.mesilva@gmail.com">wellington.mesilva@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Skype:</span>
        <span>wellingtonmessias1</span>
    </p>
</section>

<section class="contact textsStyle">
    <header>
        <h3>Redes Sociais</h3>
    </header>
    <p>
        coloca aqui as images do facebook e do twitter
    </p>
</section>