@{
    ViewBag.Title = "Home";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="textsStyle">
    Bem vindo a pagina inicial do projeto GIS, abaixo segue algumas informações.
    <h3>Informações:</h3>
    <ol class="round">
        <li class="one">
            <h5>Sobre o Autor</h5>
            Formando em Sistemas de Informação pela UNIVÁS, estagiário de desenvolvimento no INATEL. 
        </li>

        <li class="two">
            <h5>Sobre o projeto</h5>
            Este é um projeto construído como TCC, a ideia principal era construir um SIG capaz de cruzar alguns dados,
            para saber mais acesse o menu Sobre, para vezualizar o sistema em funcinamento acesse o menu GIS.
        </li>

        <li class="three">
            <h5>Tecnologias utilizadas</h5>
            Neste trabalho foram utilizadas as tecnologias web HTML, CSS e JS para a construção do frond-end. Para construção do back-end foi
            utilizado a linguagem de programação C# e para armazenamento de informações o PostgreSQL juntamente com a extensão PostGIS. 
            <br />Acesse o menu sobre para mais informações e links uteis.
        </li>
    </ol>
</div>
