@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="http://js.arcgis.com/3.10/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.10/js/esri/css/esri.css">
    <link rel="stylesheet" href="~/AreasContent/Map/CSS/GisMap.css" />

    @Scripts.Render("~/bundles/jquery")
    <script>var dojoConfig = { parseOnLoad: true }</script>
    <script src="http://js.arcgis.com/3.10/"></script>
    <script src="~/AreasContent/Map/PointsObjectsControl.js"></script>
    <script src="~/AreasContent/Map/GisMapControl.js"></script>
    <script src="~/AreasContent/Map/CoordinatesControl.js"></script>
</head>

<body class="claro">
    <div id="sideBarOfOptions">
        <div id="legendDiv">
            <fieldset>
                <legend>Legenda</legend>
                <div>
                    <img src="~/Images/schools_mark.png" alt="Scholl Mark" />
                    <label>Escolas.</label>
                </div>
                <div>
                    <img src="~/Images/cops_mark.png" alt="Cops Mark" />
                    <label>Postos Policiais.</label>
                </div>
                <a class="tooltip" href="#">Indices Criminalidade
                    <span class="classic"></span>
                </a>
            </fieldset>
        </div>
        @*<div id="coordinatesContent">
            <fieldset>
                <legend>Coordenadas</legend>
                <span id="coordinates">0, 0</span>
            </fieldset>
        </div>*@
        <div>
            <fieldset>
                <legend>Calculos</legend>
                <button id="btnCalcData" class="btn btn-primary" onclick="GisMapConfiguration.clearResponseMessage(); app.toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYGON);app.map.hideZoomSlider();">Calcular Dados</button>
            </fieldset>
        </div>
        <div id="resultContainer">
            <fieldset>
                <legend>Resultados</legend>
                <span><strong>População:</strong>
                    <label id="lbPopulationNumer"></label>
                </span>
                <hr />
                <span><strong>Escolas:</strong>
                    <label id="lbSchools"></label>
                </span>
                <div id="divSchoolsContent">
                    <ul id="schoolsContent" class="divListWithScroll listInBlock"></ul>
                </div>
                <hr />
                <span><strong>P. Policiais:</strong>
                    <label id="lbCops"></label>
                </span>
                <div id="divCopsContent">
                    <ul id="copsContent" class="divListWithScroll listInBlock"></ul>
                </div>
                <hr />
                <span><strong>Criminalidade:</strong>
                    <label id="lbCrimeIndex"></label>
                </span>
                <br />
                <span><strong>Bairros Com Criminalidade Na Seleção: </strong> <label id="lbCrimeDistrict"></label></span>
                <hr />
                <button id="btnLimpar" class="btn btn-primary">Limpar</button>
            </fieldset>
        </div>

    </div>
    <div id="mapDiv">
        <div id="reponseErrorMessage" class="alert">
            <button type="button" id="btnAlertClose" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            <strong>Esta morto Jim! </strong>
            <br>
            <label id="lbErrorResponse">Algo deu errado, tente novamente.</label>
        </div>
    </div>
    <div data-dojo-type="dijit.Dialog" id="dialog1" title="Resultados"></div>
</body>
</html>

